#game{
    height: 600px;
    
    border: 8px inset #076da4;
    border-radius: 5px;
    background: url(assets/day_battle.png);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.begin {
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.background
{
    width: 100%;
    height: auto;
    position: absolute; 
    top: 0; 
    left: 0; 

      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}
.firstTitle
{
    position: relative;
    margin-top: 300px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    
}

.display {
    display: none;
}

.logo{
    width: 100px;
    height: 100px;
}
.logoCenter {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#start {
    background-color: black;
}

#shop, #fight, #box{
    border: 1px solid red;
    height: 300px;
}
#hpAndShop{
    border: 1px solid red;

}
#shop{
    position: absolute;
    left: 350px;
}
#hpBar{
    padding-left: 0px;
    padding-right: 50px;
}
.progress{
    height: 20px;
}